{
  "extends": [
    "next",
    "next/core-web-vitals"
  ],
  "rules": {
    "@next/next/no-html-link-for-pages": [
      "error",
      "domains/root/src"
    ],
    "@next/next/no-img-element": "off"
  }
}
