.root {
  border-top: #e8e8e8 1px solid;
  color: #999;
  display: flex;
  font-size: 0.9em;
  justify-content: space-between;
  padding-bottom: 2em;
  padding-top: 2em;

  div {
    font-family: 'Inter', sans-serif;
  }
}
