@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&display=swap');

@font-face {
  font-family: 'SF Pro JP Regular';
  src:
    url('../../public/fonts/sf_pro_jp_regular/font.eot'),
    url('../../public/fonts/sf_pro_jp_regular/font.eot?#iefix') format('embedded-opentype'),
    url('../../public/fonts/sf_pro_jp_regular/font.woff2') format('woff2'),
    url('../../public/fonts/sf_pro_jp_regular/font.woff') format('woff'),
    url('../../public/fonts/sf_pro_jp_regular/font.ttf') format('truetype'),
    url('../../public/fonts/sf_pro_jp_regular/font.svg#SF Pro JP Regular') format('svg');
}

@font-face {
  font-family: 'SF Pro Display Regular';
  src:
    url('../../public/fonts/sf_pro_display_regular/font.eot'),
    url('../../public/fonts/sf_pro_display_regular/font.eot?#iefix') format('embedded-opentype'),
    url('../../public/fonts/sf_pro_display_regular/font.woff2') format('woff2'),
    url('../../public/fonts/sf_pro_display_regular/font.woff') format('woff'),
    url('../../public/fonts/sf_pro_display_regular/font.ttf') format('truetype'),
    url('../../public/fonts/sf_pro_display_regular/font.svg#SF Pro JP Regular') format('svg');
}

@font-face {
  font-family: 'SF Pro Display Medium';
  src:
    url('../../public/fonts/sf_pro_display_medium/font.eot'),
    url('../../public/fonts/sf_pro_display_medium/font.eot?#iefix') format('embedded-opentype'),
    url('../../public/fonts/sf_pro_display_medium/font.woff2') format('woff2'),
    url('../../public/fonts/sf_pro_display_medium/font.woff') format('woff'),
    url('../../public/fonts/sf_pro_display_medium/font.ttf') format('truetype'),
    url('../../public/fonts/sf_pro_display_medium/font.svg#SF Pro JP Regular') format('svg');
}

@font-face {
  font-family: 'SF Pro Display Semibold';
  src:
    url('../../public/fonts/sf_pro_display_semibold/font.eot'),
    url('../../public/fonts/sf_pro_display_semibold/font.eot?#iefix') format('embedded-opentype'),
    url('../../public/fonts/sf_pro_display_semibold/font.woff2') format('woff2'),
    url('../../public/fonts/sf_pro_display_semibold/font.woff') format('woff'),
    url('../../public/fonts/sf_pro_display_semibold/font.ttf') format('truetype'),
    url('../../public/fonts/sf_pro_display_semibold/font.svg#SF Pro JP Regular') format('svg');
}

@font-face {
  font-family: 'SF Pro Display Ultralight';
  src:
    url('../../public/fonts/sf_pro_display_ultralight/font.eot'),
    url('../../public/fonts/sf_pro_display_ultralight/font.eot?#iefix') format('embedded-opentype'),
    url('../../public/fonts/sf_pro_display_ultralight/font.woff2') format('woff2'),
    url('../../public/fonts/sf_pro_display_ultralight/font.woff') format('woff'),
    url('../../public/fonts/sf_pro_display_ultralight/font.ttf') format('truetype'),
    url('../../public/fonts/sf_pro_display_ultralight/font.svg#SF Pro JP Regular') format('svg');
}

@font-face {
  font-family: 'SF Pro Text Bold';
  src:
    url('../../public/fonts/sf_pro_text_bold/font.eot'),
    url('../../public/fonts/sf_pro_text_bold/font.eot?#iefix') format('embedded-opentype'),
    url('../../public/fonts/sf_pro_text_bold/font.woff2') format('woff2'),
    url('../../public/fonts/sf_pro_text_bold/font.woff') format('woff'),
    url('../../public/fonts/sf_pro_text_bold/font.ttf') format('truetype'),
    url('../../public/fonts/sf_pro_text_bold/font.svg#SF Pro JP Regular') format('svg');
}

@font-face {
  font-family: 'SF Pro Text Light';
  src:
    url('../../public/fonts/sf_pro_text_light/font.eot'),
    url('../../public/fonts/sf_pro_text_light/font.eot?#iefix') format('embedded-opentype'),
    url('../../public/fonts/sf_pro_text_light/font.woff2') format('woff2'),
    url('../../public/fonts/sf_pro_text_light/font.woff') format('woff'),
    url('../../public/fonts/sf_pro_text_light/font.ttf') format('truetype'),
    url('../../public/fonts/sf_pro_text_light/font.svg#SF Pro JP Regular') format('svg');
}

@font-face {
  font-family: 'SF Pro Text Thin';
  src:
    url('../../public/fonts/sf_pro_text_thin/font.eot'),
    url('../../public/fonts/sf_pro_text_thin/font.eot?#iefix') format('embedded-opentype'),
    url('../../public/fonts/sf_pro_text_thin/font.woff2') format('woff2'),
    url('../../public/fonts/sf_pro_text_thin/font.woff') format('woff'),
    url('../../public/fonts/sf_pro_text_thin/font.ttf') format('truetype'),
    url('../../public/fonts/sf_pro_text_thin/font.svg#SF Pro JP Regular') format('svg');
}
