.root {
  display: block;

  div {
    padding-left: 2em;

    &:first-child {
      border-left: #111 1px dashed;
    }

    &:last-child {
      border-left: #111 1px solid;
    }
  }

  * {
    font-family: 'Inter', sans-serif;
  }

  h2 {
    font-weight: 500;
  }
}
